force-app/main/default/flows/Assignment_6_Opportunity_Flow_Builder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Update_Each_Record</name>
        <label>Update Each Record</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Each_Opportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>account_Annual_Revenue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOppList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateOppList</name>
        <label>updateOppList</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>UpdatedOppList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkOpportunityListSize</name>
        <label>checkOpportunityListSize</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Size_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Each_Opportunity</targetReference>
            </connector>
            <label>check Size Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Assignment 6 Opportunity Flow Builder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assignment 6 Opportunity Flow Builder</label>
    <loops>
        <name>Each_Opportunity</name>
        <label>Each Opportunity</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <collectionReference>All_opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Each_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Child_Opportunity_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>All_opportunities</name>
        <label>All opportunities</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkOpportunityListSize</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Opportunity_Records</name>
        <label>Update Child Opportunity Records</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <inputReference>UpdatedOppList</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>All_opportunities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>account_Annual_Revenue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedOppList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
