force-app/main/default/flows/Before_Account_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Shipping_Address</name>
        <label>Assign Shipping Address</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Shipping_Street_Is_Not_Blank</name>
        <label>Check Shipping Street Is Not Blank</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Is Not Blank</defaultConnectorLabel>
        <rules>
            <name>Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ShippingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Shipping_Address</targetReference>
            </connector>
            <label>Is Blank</label>
        </rules>
    </decisions>
    <description>Populating shipping address from billing address if it is blank</description>
    <interviewLabel>Before Account Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before Account Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Shipping_Street_Is_Not_Blank</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
