force-app/main/default/flows/Scheduled_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Opportunity_Closing_in_3_Days</name>
        <label>Check Opportunity Closing in 3 Days</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>If_Closing_in_3_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCloseDateMinusToday</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_And_Assign_Task</targetReference>
            </connector>
            <label>If Closing in 3 Days</label>
        </rules>
    </decisions>
    <formulas>
        <name>varCloseDateMinusToday</name>
        <dataType>Number</dataType>
        <expression>{!$Record.CloseDate} - TODAY()</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Scheduled: Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled: Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_And_Assign_Task</name>
        <label>Create And Assign Task</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Do harum sit ipsum </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Opportunity_Closing_in_3_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-04-19</startDate>
            <startTime>21:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
